<div id="homepage" class="pages">

    <nav class="inverse" nav-top data-show-right="true" data-right="Login"
         fn-right="go('user/login', 'slideLeft')" ng-show="showLogin"></nav>
    <nav class="inverse" nav-top data-show-right="true" data-right="Logout"
         fn-right="logout()" ng-show="showLogout"></nav>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="homepage-block block-idea col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h3 class="title">idea</h3>
            <h1 class="content"><a ng-click="go('/idea/list','slideLeft')">123</a></h1>
        </div>
        <div class="homepage-block block-project col-lg-4 col-md-4 col-lg-offset-3 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-4 col-xs-offset-3">
            <h3 class="title">project</h3>
            <h1 class="content"><a ng-click="go('/project/list','slideLeft')">3</a></h1>
        </div>

        <div class="homepage-block block-people col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h3 class="title">people</h3>
            <h1 class="content"><a ng-click="go('/user/list','slideLeft')">123</a></h1>
        </div>

        <div class="homepage-block-egg block-create col-lg-6 col-md-6 col-lg-offset-2 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-6 col-xs-offset-2">
            <img src="img/createidea.png"/>
            <a ng-click="go('idea/create', 'slideLeft')">
                <img src="img/egg.png"/>
            </a>
        </div>
    </div>
</div>