<div class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <a ng-click="go('/idea/list','slideLeft')" class="idea" ng-class="{active:listType==1}">Idea</a>
        <a ng-click="go('/project/list','slideLeft')" class="project" ng-class="{active:listType==2}">Project</a>
        <a ng-click="go('/idea/create','slideLeft')" class="egg"><img src="img/icon/create_normal.png"></a>
        <a ng-click="go('/user/list','slideLeft')" class="people" ng-class="{active:listType==3}">People</a>
        <a ng-click="go('/user/index','slideLeft')" class="me" ng-class="{active:listType==4}">Me</a>
    </div>
</div>