<div id="page-login" class="pages">
    <nav nav-top data-left="homepage" data-center="Login"
         fn-left="go('homepage', 'slideRight')"></nav>
    <div class="page-content">

        <figure>
            <img class="user-head-center center-block img-circle" src="{{imgSrc}}" id="user_head"/>
        </figure>
        <div class="horizontal-space"></div>
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <form name="loginForm" role="form" class="form-horizontal" id="loginForm">
                <div class="form-group">
                    <label for="email" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-5">
                        <input type="text" id="email" ng-model="email" name="email" required class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-5">
                        <input type="password" name="password" ng-model="password" id="password" required
                               class="form-control"/>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-success btn-block" ng-click="login(go)">Log In</button>
            <div class="div-forget">
                <p><a ng-click="go('user/register_step1', 'slideLeft')" class="default-a"><strong>Register</strong></a></p>
                <p><a ng-click="go('user/register_step1', 'slideLeft')" class="default-a"><strong>Forget Password?</strong></a></p>
            </div>
        </div>
    </div>
	<div modal ng-show="show" class="my-modal" data-title="{{title}}" data-content="{{content}}" 
	  fn-ok="fnOk()" data-ok="ok"></div>	
</div>