<div id="register-step2" class="pages">
	<nav nav-top data-left="back" data-center="Register" data-right="Next"
	     fn-left="go()" fn-right="next()"></nav>
	<div class="page-content">
		<figure>
			<img class="user-head-center center-block img-circle" ng-src="{{imgSrc}}" id="user_head"/>
		</figure>
		<br/>
		<br/>
        <span class="btn btn-success btn-file btn-block">
            Upload Avatar<input type="file" accept="image/*" id="input_head" >
        </span>
		<button type="button" class="btn-block btn btn-success" ng-click="go('user/register_step3', 'slideLeft')" >Skip</button>
	</div>
</div>