<div id="idea-create-step1" class="pages idea-create">
	<nav nav-top data-left="<" data-right="Next" data-center="Create Idea"
	     fn-left="go()" fn-right="checkAndDo(go, '/idea/create_step2', 'slideLeft')"></nav>
	<div class="page-content">
		<p class="step-img"></p>
		<h2>Idea Title</h2>

		<form id="createForm"name="createForm" role="form" class="form-horizontal">
			<div class="form-group" style="margin-bottom: 5px; width: 95%; margin-left: 1%">
				<input type="text" id="title" ng-model="idea.title" name="title" required class="form-control" />
			</div>
		</form>
		<p>An attractive idea title can help you get more attention</p>
	</div>
</div>