<div id="idea-create-step3" class="pages idea-create">
	<nav nav-top data-left="<" data-right="Next" data-center="Create Idea"
		 fn-left="go()" fn-right="checkAndDo(go, '/idea/create_step4', 'slideLeft')"></nav>
	<div class="page-content">
		<p class="step-img"></p>
		<h2>Business Impact</h2>
		<form id="createForm3"name="createForm" role="form" class="form-horizontal">
			<div class="form-group" style="margin-bottom: 5px; width: 95%; margin-left: 1%">
				<!--<input type="text" id="description" ng-model="title" name="title" required class="form-control" />-->
				<textarea name='businessImpact' ng-model="businessImpact" class="form-control" rows="10" required></textarea>
			</div>
		</form>
		<p>You can use up to 200 words to describe the business impact.
			For example, the benefit for people's life, or an innovation business model.</p>
	</div>
</div>