<div id="idea-create-step4" class="pages idea-create">
	<nav nav-top data-left="back" data-right="Preview" data-center="Create Idea"
		 fn-left="go()" fn-right="go('idea/preview', 'slideLeft')"></nav>
	<div class="page-content">
		<p class="step-img"></p>
		<p class="step-title">Upload Picture</p>
		<p class="step-desrcip">You can add the picture for your idea to make it vivid and help the others get a better understanding.</p>
		<div class="add-pic">
			<div class="imgs">
				<div class="img" ng-repeat="img in idea.image track by $index">
					<img ng-src="{{img}}" />
					<span class="close glyphicon glyphicon-remove" ng-click="remove($index)"></span>
				</div>
				<div class="img add">
					<input type="file" change-file='change'/>
					<img src="img/idea/add.png" />
				</div>
			</div>
		</div>
	</div>
</div>