<div id="idea-preview" class="pages">
    <nav nav-top data-left="<" data-center="Preview" data-right="Submit"
         fn-left = "go()" fn-right="submit()"></nav>
    <div class="page-content">
        <div>
            <div class="detail_header">
                <div class="header-image">
                    <img class="img-circle center-block" ng-src="img/head.png" />
                </div>
                <div class="header-content">
                    <h3 class="title"><strong>{{idea.title}}</strong></h3>
                    <div class="create-info">
                        <p class="creator">{{idea.author}}</p>
                        <p class="create-time">{{now | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    </div>
                </div>
            </div>
            <div class="detail_pics">
                <ul rn-carousel  rn-carousel-index="carouselIndex" class="image">
                    <li  ng-repeat="image in idea.image track by $index">
                        <div ng-style="{'background-image': 'url(' + image + ')'}">
                            <div rn-carousel-indicators ng-if="idea.files.length > 1" slides="idea.files" rn-carousel-index="carouselIndex"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="detail-content">
                <div class="block description">
                    <h4 class="desclable">Description</h4>
                    <p class="text desc">{{idea.description}}</p>
                </div>
                <div class="block bi">
                    <h4 class="bilable">Business Impact</h4>
                    <p class="text bi">{{idea.businessImpact}}</p>
                </div>
            </div>
        </div>
    </div>
	<div modal ng-show="show" class="my-modal" data-title="{{title}}" data-content="{{content}}" 
	  fn-ok="fnOk()" data-ok="ok"></div>	
</div>