<div id="idea-preview" class="pages">
    <!--<nav nav-top data-left="back" data-center="Preview" data-right="Submit"-->
         <!--fn-left = "go()" fn-right="submit()"></nav>-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a ng-click="go()" class="btn pull-left"><i class="fa fa-angle-left"></i></a>
            <h4 class="center">Preview</h4>
            <a ng-click="submit()"  ladda-button="loading.rightBt" data-style="zoom-out" class="btn pull-right ladda-button" >
                <span class="ladda-label">submit</span></a>

        </div>
    </div>
    <div class="page-content">
        <div>
            <div class="detail_header">
                <div class="header-image">
                    <img class="img-circle center-block" ng-src="img/head.png" />
                </div>
                <div class="header-content">
                    <h3 class="title"><strong>{{idea.title}}</strong></h3>
                    <div class="create-info">
                        <p class="creator">{{user.firstname}} {{user.lastname}}</p>
                        <p class="create-time">2016.01.10 10:01</p>
                    </div>
                </div>
            </div>
            <div class="detail_pics">
                <ul rn-carousel  rn-carousel-index="carouselIndex" class="image">
                    <li  ng-repeat="image in idea.image track by $index">
                        <div ng-style="{'background-image': 'url(' + image + ')'}">
                            <div rn-carousel-indicators ng-if="idea.files.length > 1" slides="idea.files" rn-carousel-index="carouselIndex"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="detail-content">
                <div class="block description">
                    <h4 class="desclable">Description</h4>
                    <p class="text desc">{{idea.description}}</p>
                </div>
                <div class="block bi">
                    <h4 class="bilable">Business Impact</h4>
                    <p class="text bi">{{idea.businessImpact}}</p>
                </div>
            </div>
        </div>
    </div>
</div>