<div id="project-list" class="pages">
    <nav nav-top data-left="homepage" data-center="Project"
         fn-left="go('homepage', 'slideRight')" class="navbar navbar-default navbar-fixed-top"></nav>
    <div class="page-content">
        <div class="date-picker">
            <label for="datetimepicker6" style="width:20%">Time Period</label>
            <div class="form-group" style="width: 30%;margin-left:0">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" style="padding:0"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
            <label for="datetimepicker7" style="width:8%;margin-left:0">to</label>
            <div class="form-group" style="width: 30%;margin-left:0">
                <div class='input-group date' id='datetimepicker7' class="col-sm-3">
                    <input type='text' class="form-control" style="padding:0"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
        </div>
        <div class="list-item" ng-repeat="item in projectList | filter: dateFilter">
            <div class="item-h">
                <div class="avatar">
                    <img ng-src="{{item.categoryImage}}" class="img-rounded center-block"/>
                </div>
                <div class="item-h-text">
                    <h4 ng-click="go('/project/{{item.id}}','slideLeft')"><strong>{{item.title}}</strong></h4>
                    <p>
                        <a class="author" ng-click="go('/user/{{item.uid}}','slideLeft')">{{item.lastname}} {{item.firstname}}</a>
                        <i ng-if="item.voting != null" class="like">
                            <i class="fa fa-heart">{{item.likes}}</i>
                        </i>
                        <i ng-if="item.voting == null" class="like">
                            <i class="fa fa-heart-o" ng-click="like({{item.id}})">{{item.likes}}</i>
                        </i>
                    </p>
                </div>
            </div>
            <div class="img">
                <img ng-click="go('/project/{{item.id}}','slideLeft')" ng-src="img/project/{{item.id}}/0.png" onerror="javascript:this.src='img/idea/default.jpg';"/>
                <p class="description">
                    {{item.description}}
                </p>
            </div>
            <p class="date">
                {{item.createDate}}
					<span ng-switch="item.status">
                        <span ng-switch-when="0">
							<a class="todo">Not Start</a>
						</span>
						<span ng-switch-when="1">
							<a class="todo">Design Finish</a>
						</span>
						<span ng-switch-when="2">
							<a class="todo">Ready for Demo</a>
						</span>
					</span>
            </p>
        </div>

    </div>
    <div class="listBottom"></div>
</div>